<p id="notice"><%= notice %></p>

<h1>Trinkets</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Description</th>
      <th>Image</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trinkets.each do |trinket| %>
      <tr>
        <td><%= trinket.price %></td>
        <td>
          <div class="flip-container card-image waves-effect waves-block waves-light" ontouchstart="this.classList.toggle('hover');">
            <div class="flipper">
              <div class="front">
                <%= image_tag trinket.photo_path.midsize.url, width: 320, height: 427 %>
              </div>
              <div class="back" style="background:#f8f8f8;">
                <div class="back-logo"></div>
                <div class="back-title">Beer</div>
                <p>
                  <%= trinket.description %> 
                  <br/>
                  <%= link_to 'Show', trinket_path(trinket) %>
                </p>
              </div>
            </div>
          </div>
        </td>
        <td><%= link_to 'Edit', edit_trinket_path(trinket) %></td>
        <td><%= link_to 'Destroy', trinket_path(trinket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

[<%= link_to 'New trinket', new_trinket_path %>]