<p id="notice"><%= notice %></p>

<h1>Trinkets</h1>

<div class="wrap">
  <% @trinkets.each do |trinket| %>  
  <!-- Define all of the tiles: -->
  <div class="box">
    <div class="boxInner">
      <div class="flip-container card-image waves-effect waves-block waves-light" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <%= image_tag trinket.photo_path.midsize.url, width: 320, height: 427 %>
          </div>
          <div class="back" style="background:#f8f8f8;">
            <div class="back-logo"></div>
              <div class="back-title"><%=trinket.title%></div>
                <p>
                  <strong>
                    $<%=trinket.price%>
                  </strong>
                </p>
                <p>
                  <%= trinket.description %> 
                </p>
                <p>
                  [<%= link_to 'Show', trinket_path(trinket) %> |
                  <%= link_to 'Edit', edit_trinket_path(trinket) %> |
                  <%= link_to 'Delete', trinket_path(trinket), method: :delete, data: { confirm: 'Are you sure?' } %> ]
                </p>
              </div>
            </div>
          </div>
        </div>
    </div>
  <% end %>
  </div>
  [<%= link_to 'New trinket', new_trinket_path %>]
</div>

